<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ismartlib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.ismartlib.framework.error.activity.DefaultErrorActivity"
            android:label="app发生错误" />
        <activity
            android:name=".framework.permissions.RequestActivity"
            android:theme="@style/transcutestyle" />
    </application>

</manifest>
